<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<h1>Postal Rate Calculator</h1>
<form method="GET" action="/rate">
  <div class="form-group">
  <label>Weight:</label><br>
  <input type="text" name="weight"><br>
  <label>Type of Mail</label><br>
  <input type='radio'  name="type" value="stampedLetter">Stamped Letter<br>
  <input type='radio'  name="type" value="meteredLetter">Metered Letter<br>
  <input type='radio'  name="type" value="largeEnvelope">Large Envelope<br>
  <input id="package" type='radio'  name="type" value="packageService">First-Class Package Service<br>
  <button type='submit'>Find Rate</button>
</form>
</div>
<script src="././main.js"></script>
</body>
</html>
