<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>
<main>
<h1>Postal Rate:</h1>
The cost to mail this package/letter will be: $<%= rate %>
</main>
</body>
</html>